<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tdam2012.grupo8"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="15" />
    
    <uses-permission android:name="android.permission.WRITE_CONTACTS"/>
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
  	<uses-permission android:name="android.permission.RECEIVE_SMS" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/title_app_name"
        android:theme="@style/AppTheme" >
        
        <activity android:name=".ui.DashboardActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name=".ui.CallKeyboardActivity" ></activity>
        <activity android:name=".ui.CallActivity" ></activity>
        
        <activity android:name=".ui.SmsListActivity" ></activity>
		<activity android:name=".ui.SmsListContactActivity" ></activity>
        <activity android:name=".ui.SmsNewActivity" ></activity>
        
       	<activity android:name=".ui.SmsWebListActivity" ></activity>
       	<activity android:name=".ui.SmsWebNewActivity" ></activity> 
       	<activity android:name=".ui.SmsWebListContactActivity" ></activity> 

        <activity android:name=".ui.EmailListActivity" ></activity>
        <activity android:name=".ui.EmailNewActivity" ></activity>
        
        <activity android:name=".ui.contacts.ListActivity" ></activity>
        <activity android:name=".ui.contacts.NewActivity" ></activity>
        <activity android:name=".ui.contacts.DetailsActivity" ></activity>
                
       	<activity android:name=".ui.HistoryCallActivity" ></activity>
       	<activity android:name=".ui.HistorySmsActivity" ></activity>
       	<activity android:name=".ui.HistoryEmailActivity" ></activity>
       	<activity android:name=".ui.HistorySmsWebActivity" ></activity>
       	<activity android:name=".ui.TabHostActivity" ></activity>
    
		<receiver android:name=".receivers.SmsReceivedReceiver">
    		<intent-filter>
        		<action android:name="android.provider.Telephony.SMS_RECEIVED" />
        	</intent-filter>    
    	</receiver>
    	
		<receiver android:name=".receivers.SmsSentReceiver">
    		<intent-filter>
        		<action android:name="SMS_SENT" />
        	</intent-filter>    
    	</receiver>
    	
		<receiver android:name=".receivers.SmsDeliveredReceiver">
    		<intent-filter>
        		<action android:name="SMS_DELIVERED" />
        	</intent-filter>    
    	</receiver>
    	
    </application>   

</manifest>